<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <% if @user_name %>
      <h4>Welcome <%= @user_name %>!</h4>
    <% else %>
      <div data-turbo="false">
        <%= form_tag("/auth/microsoft_graph_auth", method: "post") do %>
          <button type="submit" class="btn btn-primary btn-large">Zaloguj się w microsoft</button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
